@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  vertical-align: middle;
}

:root {
  --main-color: #00462a;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
  line-height: 24px;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

button:focus {
  border: none;
  outline: none;
}

hr {
  border: 0.5px solid #bdbdbd;
  margin: 16px 0px;
}

/* 메인 레이아웃 */
#wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vh;
  height: 100vh;
  margin: 0;
}

header {
  position: fixed;
  width: 100%;
  height: 152px;
  background: #ffffff;
  z-index: 99999;
}

nav {
  width: 260px;
  background: var(--main-color);
  margin-right: 110px;
}

#content {
  padding-top: 152px;
}

/* header */
#header-container {
  margin-top: 96px;
  width: 880px;
}

#header-container * {
  display: inline;
  vertical-align: middle;
}

#logo {
  width: 250px;
  height: 40px;
  background: #ffffff;
  border: 0;
  outline: 0;
}

#login-btn {
  width: 70px;
  height: 32px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin-left: 560px;
}

#login-text {
  font-weight: bold;
  font-size: 12px;
  color: var(--main-color);
}

/* navbar */
.navbar-content {
  margin: 120px 30px;
}

#navbar ul li p {
  display: inline-block;
  vertical-align: middle;
}

.navbar-content li {
  margin: 16px 0;
}

.navbar-main {
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
}

#setting {
  vertical-align: middle;
  margin-left: 76px;
  width: 24px;
  height: 24px;
}

.navbar-sub {
  color: #ffffff;
}

/* Home */
#banner {
  margin-top: 10px;
  margin-bottom: 28px;
  width: 880px;
  height: 604px;
}

#latest-posts {
  position: relative;
  width: 880px;
  margin: 48px 0px;
}

#latest-posts h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: var(--main-color);
}

#latest-title {
  display: inline-block;
  width: 880px;
  height: 32px;
}

#latest-title h1 {
  float: left;
}

#viewmore {
  position: absolute;
  right: 0px;
  float: left;
}

#viewmore-text {
  float: left;
  font-style: normal;
  font-weight: bold;
  color: #828282;
}

#viewmore-img {
  float: left;
  width: 24px;
  height: 24px;
}

#latest-posts-card {
  margin: 16px 0px;
}

#latest-posts-card h2 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 16px;
}

#latest-posts-card p {
  font-weight: normal;
  color: #333333;
}

#latest-posts-card div {
  width: 816px;
  height: 72px;
}

/* Posting */
#posting-container div {
  display: block;
}

.content-title {
  display: block;
  width: 880px;
  height: 40px;
  margin: 32px 0px;
}

.content-name {
  float: left;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  color: var(--main-color);
}

#posting-content > * {
  margin: 16px 0px;
}

/* Post */
#post {
  padding: 32px 0px;
}

#post div {
  margin-bottom: 32px;
}

#post-categoryname * {
  display: inline;
  height: 32px;
  vertical-align: middle;
}

#post-categoryname p {
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  color: var(--main-color);
  margin-right: 7px;
}

#post-categoryname img {
  width: 24px;
  height: 24px;
}

.post-title * {
  display: inline;
}

.post-title h1 {
  font-size: 32px;
  line-height: 40px;
}

.post-title img {
  width: 24px;
  height: 24px;
  float: right;
}

#post-user * {
  display: inline-block;
  vertical-align: middle;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #c4c4c4;
  margin-right: 8px;
}

#post-user * {
  margin-right: 16px;
}

#post-user-nickname {
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
  color: #333333;
}

#post-createdat {
  font-size: 16px;
  line-height: 40px;
  color: #bdbdbd;
}

#post-content {
  display: block;
  width: 880px;
  height: 480px;
}

#comment-title * {
  float: left;
  margin-right: 8px;
  margin-bottom: 16px;
}

#comment-title p {
  font-weight: bold;
}

#comment-img {
  width: 24px;
  height: 24px;
}

#commentlist-container {
  margin: 40px 0px;
}

.comment-container {
  display: inline-block;
  width: 880px;
  height: 160px;
  padding: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #bdbdbd;
}

.comment-container * {
  display: inline;
  vertical-align: middle;
}

.comment-user-nickname {
  font-weight: bold;
  color: #333333;
}

.comment-textarea {
  width: 100%;
  resize: none;
  color: #333333;
  margin: 16px 0px;
  border: 0;
  outline: 0;
}

.comment-textarea::placeholder {
  color: #bdbdbd;
}

.submit-btn {
  float: right;
  width: 70px;
  height: 32px;
  background: #00462a;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  color: white;
}

.submit-btn:active {
  background-color: #c4c4c4;
  transition: all 0.55s cubic-bezier(0.19, 1, 0.22, 1);
}

.comment {
  display: flex;
}

.comment-line {
  width: 880px;
}

.child-arrow-img {
  margin-top: 16px;
  width: 24px;
  height: 24px;
}

.child-comment {
  width: 840px;
  padding: 16px;
  margin: 16px;
  background: #f2f2f2;
  border-radius: 8px;
}


.comment-profile * {
  display: inline-block;
  vertical-align: middle;
}

.comment-profile p {
  margin-left: 8px;
  font-weight: bold;
  color: #333333;
}

.comment-texts {
  margin-left: 56px;
}

.comment-texts p {
  padding: 8px 0px;
}


.comment-bottom * {
  display: inline;
  line-height: 24px;
}

.createdat {
  font-size: 16px;
  color: #bdbdbd;
}

.reply-btn {
  margin-left: 16px;
  background: none;
}
